/*////////// FONT //////////*/

@font-face {
  font-family: 'Raleway';
  src: url(https://fonts.googleapis.com/css?family=Raleway);
}

/*////////// GLOBAL //////////*/


body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border: 20px solid #AAA;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.flash_message {
  color: red;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
}

button {
  height: 60px;
  width: 300px;
  margin: 10px;
  text-align: center;
}

/*////////// USER PAGES //////////*/


/*.container {
  grid-template-columns: 100px 1fr 2fr 1fr 100px;
  grid-template-rows: 100px 20% auto 100px;
}*/

.user-container {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*.user-container, h1, h2, p, a, button {
  color: #fff;
}*/

.user-content {
  margin: 0 auto;
  padding-top: 15%;
  color: #fff;
  text-align: center;
}

.user-content, input {
  height: 60px;
  width: 300px;
  color: #AAA;
  text-align: center;
}

.user-content, button {
  color: #000;
}

.user-content, button:hover, a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*.user-content, input[placeholder] {
  color: #aaa;
  text-align: center;
}*/
/*
label, input, textarea, select {
    display: block;
    margin: 10px;
}

label {
  padding: 0;
  margin-bottom: -1em;
}*/
/*
input:focus, textarea:focus {
  border: 1px solid #000;
}

input {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #AAA;
}

input[type="text"] {
  width: 500px;
}

input[type="radio"] {
  float: left
}

textarea {
  width: 500px;
  font-family: 'Raleway', sans-serif;
  resize: none;
  border: 1px solid #AAA;
}*/

/*select {
  font-family: 'Raleway', sans-serif;
  border: 1px solid grey;
  border-radius: 0;
}

button {
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75rem;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin: 10px;
    size: 500px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}*/
