<h1>Add a Movie</h1>
<form method="post" action="/movies">
  <p>
    * = Required field
  </p>
  <p>
    <label for="title">Title:* </label>
  </p><p>
    <input type="text" id="title" name="title" required  />
  </p>

  <p>
    <label for="notes">Notes: </label>
    </p><p>
    <textarea id="notes" name="notes" rows="10" cols="30"></textarea>
  </p>

  <p>
    <label for="genre">Genre:* </label>
    </p><p>
    <input type="radio" name="genre" id="genre1" value="Action" required checked> Action<br>
    <input type="radio" name="genre" id="genre2" value="Adventure"> Adventure<br>
    <input type="radio" name="genre" id="genre3" value="Comedy"> Comedy<br>
    <input type="radio" name="genre" id="genre4" value="Documentary"> Documentary<br>
    <input type="radio" name="genre" id="genre5" value="Drama"> Drama<br>
    <input type="radio" name="genre" id="genre6" value="Horror"> Horror<br>
    <input type="radio" name="genre" id="genre7" value="Musical"> Musical<br>
    <input type="radio" name="genre" id="genre8" value="Romantic Comedy"> Romantic Comedy<br>
    <input type="radio" name="genre" id="genre9" value="Suspense"> Suspense<br>
  </p>

  <p>
    <label for="watched">Have you seen this movie yet?* </label>
    </p><p>
    <input type="radio" name="watched" id="watched1" value="1" required> Yes<br>
    <input type="radio" name="watched" id="watched0" value="0" checked> No<br>
  </p>

  <button type="submit">Create Movie</button>

</form>

<form action="/movies" method="get">
  <button type="submit" value="Cancel">Cancel</button>
</form>
