<div class="movie-container">

<div class="header">
   <div class="logo">
     <p><a href="/movies">A-List</a></p>
   </div>
   <div class="logout">
     <p><a href="/logout">Logout</a></p>
   </div>
</div>


  <div class="movie-sidebar">

  <h1>Your movies</h1>

</div>

  <div class="movie-content">

    <p class="flash_message">
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    </p>

    <form action="/movies/new" method="get">
      <p><button type="submit" value="Add Movie">Add Movie</button></p>
    </form>


    <% if current_user.movies.empty? %>
      <p> You have no movies saved yet. <a href="/movies/new">Click here</a> to add a movie to your watchlist. </p>
    <% else %>

      <ul style="list-style: none;"><% current_user.movies.each do |movie| %>
      <li><a href="/movies/<%= movie.slug %>"><%= movie.title %></a></li>
      <% end %></ul>
    <% end %>




</div>

</div>
