<h1>Movies</h1>

<p class="flash_message">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</p>


<% if current_user.movies.empty? %>
  <p> You have no movies saved yet. <a href="/movies/new">Click here</a> to add a movie to your watchlist. </p>
<% else %>
  <p>
    Genre:
  </p>
    <!-- <form>

    </form> -->
  <ul><% current_user.movies.each do |movie| %>
  <li><a href="/movies/<%= movie.slug %>"><%= movie.title %></a></li>
  <% end %></ul>
<% end %>

<form action="/movies/new" method="get">
  <p><button type="submit" value="Add Movie">Add Movie</button></p>
</form>

<form action="/logout" method="get">
  <p><button type="submit" value="Logout">Logout</button></p>
</form>
