<div class="user-container">
  <h1>A-List</h1>
  <p class="flash_message">
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% else %>
      Please fill in all fields and then click 'Sign up.'
    <% end %>
  </p>

  <div class="user-content">

    <form action="/signup" method="post">

      <p>
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="Email address" required="required"/>
      </p>

      <p>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Password" required="required"/>
      </p>

      <p>
        <label for="password_confirmation"></label>
        <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Confirm Password" required="required"/>
      </p>
      <button type="submit">Sign up</button>

    </form>
  </div>
</div>
