<div class="user-container">
  <div class="user-content">

    <h1>Welcome to A-List</h1>
      <p>Organize your favorite movies.</p>

          <form action="/login" method="get">
            <p><button type="submit" value="Log in">Log in</button></p>
          </form>

          <p>
            or
          </p>

          <form action="/signup" method="get">
            <p><button type="submit" value="Sign up">Sign up</button></p>
          </form>

    </div>
  </div>
