<!DOCTYPE html>
<html>
  <head>
    <title>Movie Watchlist</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
  </html>
